body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f4f6fc,
    #e6edf9,
    #d5e6f6,
    #c1dff0
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#main h1,
h2,
h3 {
  color: #119da4;
  text-align: center;
}

.para1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.para2 {
  font-size: 1.25rem;
  text-align: center;
}

.wash,
.dry {
  text-align: center;
}

ul li {
  font-size: 1.125rem;
  list-style-type: none;
}

/* Section Services */
.box1,
.box2,
.box3 {
  background-color: #fff;
  border: 1px solid #000;
  width: 230px;
  height: 275px;
  margin-bottom: 25px;
  box-shadow: 4px 4px 5px #999;
}

h4 {
  text-align: center;
}

.box1 p,
.box2 p,
.box3 p {
  margin: 10px 15px;
}

/* Section Team Logos */
.official {
  color: #dc352f;
  margin-top: 18px;
}

.logo1,
.logo2 {
  padding: 10px;
  margin-right: 25px;
}

#teamLogo a > img:hover {
  transform: scale(1.5);
}

/* Footer */
#footer {
  background-color: #119da4;
  height: 155px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#footer h4 {
  color: #fff;
  text-align: center;
}

.para3 {
  color: #fff;
  text-align: center;
}

.fab {
  color: #fff;
  padding: 5px;
}

.credits {
  background-color: #0E6f72;
  height: 25px;
  width: 100%;
}

.credits p {
  color: #fff;
  font-size: 12px;
  margin-top: 3px;
  text-align: center;
}

.social i:hover {
  color: #c1dff0;
}

/* Media Queries */
/* Medium devices (landscape tablets - 768px and up) */
@media only screen and (min-width: 768px) {
  #main h1 {
    font-size: 35px;
  }

  #main h2,
  #services h2 {
    margin-top: 35px;
    font-size: 28px;
  }

  #main .para2 {
    font-size: 1.35rem;
    max-width: 680px;
    text-align: center;
  }

  .box1,
  .box2 {
    float: left;
    margin-left: 50px;
  }

  .box3 {
    display: block;
    clear: both;
    margin-left: 175px;
  }

  .img {
    width: 100px;
    height: 100px;
  }

  .fa-facebook-f,
   .fa-twitter,
   .fa-instagram {
    font-size: 1.60em !important;
    padding: 0 7px;
  }
}

@media only screen and (min-width: 992px) {
  #main h1 {
    font-size: 42px;
  }

  #main h2,
  #services h2 {
    margin-top: 35px;
    font-size: 38px;
  }

  #main .para2 {
    font-size: 1.45rem;
    max-width: 875px;
    text-align: center;
  }

  .box1,
  .box2,
  .box3 {
    display: inline-block;
    margin-left: 60px;
    max-width: 875px;
  }

   .fa-facebook-f,
   .fa-twitter,
   .fa-instagram {
    font-size: 2em !important;
    padding: 0 10px;
  }
}
